:root{
    --Background:#ffffff;
    --Background-Alt:#000000;
    --Primary:#E46767;
    --Primary-Alt:#B35A86;
    --Primary-Alt2:#CD6799;
    --Primary-Alt3:#4D273A;
    --Secundary:#3C99DC;
    --Secundary-Alt:#343EE9;
    --Secundary-Alt2:#19405C;
    --Table:#EEEEEE;
    --z-depht0: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
    --z-depht1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --z-depht2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --z-depht3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --z-depht4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --z-depht5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    --animacion-Box-Shadow: all 0.3s cubic-bezier(.25, .8, .25, 1);
    --biggest:40px;
    --bigger:34px;
    --big:28px;
    --medium:22px;
    --normal:16px;
    --small:10px;
    --column:1/2;
    --row1:1/2;
    --row2:2/3;
    --row3:3/4;
    --grap:0.5rem;
}

$Background:#ffffff;
$Background-Alt:#000000;
$Primary:#E46767;
$Primary-Alt:#B35A86;
$Primary-Alt2:#CD6799;
$Primary-Alt3:#4D273A;
$Secundary:#3C99DC;
$Secundary-Alt:#343EE9;
$Secundary-Alt2:#19405C;
$Table:#EEEEEE;
$z-depht0: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
$z-depht1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$z-depht2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$z-depht3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$z-depht4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$z-depht5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
$animacion-Box-Shadow: all 0.3s cubic-bezier(.25, .8, .25, 1);
$biggest:40px;
$bigger:34px;
$big:28px;
$medium:22px;
$normal:16px;
$small:10px;
$column:1/2;
$row1:1/2;
$row2:2/3;
$row3:3/4;
$grap:0.5rem;
